@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Here is a grade calculator for your enjoyment!</h3>
<div>
    <form>
        <label>Assignments:</label>
        <input type="number" id="assignments" name="assignments" value="" /><br />
        <label>Group Project:</label>
        <input type="number" id="groupproject" name="groupproject" value="" /><br />
        <label>Quizzes:</label>
        <input type="number" id="quizzes" name="quizzes" value="" /><br />
        <label>Midterm Exam:</label>
        <input type="number" id="midterm" name="midterm" value="" /><br />
        <label>Final Exam:</label>
        <input type="number" id="final" name="final" value="" /><br />
        <label>INTEX:</label>
        <input type="number" id="intex" name="intex" value="" /><br />
        <input style="width:auto; text-align:center" type="button" id="calculategrade" name="calculategrade" value="Calculate Grade" />
        <br /><br />
        <label>Final Grade Average:</label>
        <input type="number" id="final_grade_avg" name="final_grade_avg" value="" /><br />
        <label>Final Letter Grade:</label>
        <input type="text" id="final_letter_grade" name="final_letter_grade" value="" /><br />

    </form>
</div>