@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GradeCalculatorModel
<h3>Here is a grade calculator for your enjoyment!</h3>
<div>
    <form method="post">
        <label>Assignments:</label>
        <input id="assignments" asp-for="Assignments" /><br />
        <label>Group Project:</label>
        <input id="groupproject" asp-for="GroupProjects" /><br />
        <label>Quizzes:</label>
        <input id="quizzes" asp-for="Quizzes" /><br />
        <label>Midterm Exam:</label>
        <input id="midterm" asp-for="Midterm" /><br />
        <label>Final Exam:</label>
        <input id="final" asp-for="Final" /><br />
        <label>INTEX:</label>
        <input id="intex" asp-for="INTEX" /><br />
        <input style="width:auto; text-align:center" type="submit" id="calculategrade" name="calculategrade" value="Calculate Grade" />
        <br /><br />

    </form>
    <div asp-validation-summary="All"></div>
    @* Show Results *@
    <label>Final Grade Average:</label>
    <input type="number" id="final_grade_avg" name="final_grade_avg" value="" /><br />
    <label>Final Letter Grade:</label>
    <input type="text" id="final_letter_grade" name="final_letter_grade" value="" /><br />
</div>