@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Thomas Smith</h1>
<h3>Here is a picture of me going to the beach. Something that I love!</h3>
<img src="~/img/beach.jpg" />

<p>
    I'm very excited for this class. I am looking forward to learning yet
    another web app framework. I am also expecially excited to learn how to
    implement react into an ASP.NET CORE MVC Web app. This class has lots of
    long terms, like the one I just mentioned. It was nice that Django was just
    'Django'. But thats ok. I'm also excited to get to know my group better
    and to work hard alongside them!
</p>
<h5>Some of the jobs that most interest me after graduation</h5>
<ol>
    <li>Entrepreneur (sp?)</li>
    <li>Product Manager</li>
    <li>Software Developer</li>
</ol>